.wedding-couple {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.couple {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 35px;
}
